@import 'vars';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
summary {
    display: block;
}
summary::-webkit-details-marker {
    display: none;
}
.filter {
    padding-top: 48px;
    padding-bottom: 64px;
    position: relative;
    @include flexRowWrap();
    gap: 390px;
    &__summary {
        padding: 13px 16px 16px;
        position: absolute;
        top: 39px;
        box-sizing: border-box;
        width: 360px;
        @include flexRowWrap();
        gap: 11px;
        z-index: 10;
        cursor: pointer;
    }
    &__title {
        list-style: none;
        @include flexRowWrap();
        gap: 12px;
        align-items: center;
    }
    &__title-style {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $blackColor;
    }
    &__summary[open] &__title-style {
        color: $coralColor;
    }
    &__summary[open] path {
        fill: $coralColor;
    }
    &__summary[open] {
        background-color: $whiteColor;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &__item {
        margin-top: 16px;  
    }
    &__content-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $greyColor;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $coralColor;
        cursor: pointer;
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $greyColor;
        &:hover {
            color: $coralColor;
        }
    }
    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }
    &__item[open] &__content-title {
        color: $coralColor;
    }
}

.products__cards {
    position: relative;
}
.sort {
 &__container {
    margin-top: 0;
    margin-bottom: 0;
    }
    &__heading {
    margin-top: 0;
    margin-bottom: 0;
    }
    &__items {
    gap: 24px;
    cursor: pointer;
    } 
    &__checkbox-container {
        position: absolute;
        z-index: 100000000000;
        margin-top: 5px;
        margin-left: -9px;
    }
    &__special {
        margin-left: 5px;
    }
}
.pagination {
    
    padding-bottom: 96px;
    &__container {
        width: 284px;
        height: 44px;
        border: 1px solid 
    #EBEBEB;
    margin: 0 auto;
    }
    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12.5px 15px;
    }
    &__number {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $lightGreyColor;
        &:hover {
            color: $coralColor;
        }
    }
}
@media (max-width: 1280px) {
    .products__cards__item_media {
        display: none;
    }
}
@media (max-width: 767px) {
    .burger__icon {
      margin-right: 8px;  
    }
    .breadcrumbs {
        padding-top: 26px;
        flex-direction: column;
        gap: 27px;
        align-items: center;
        padding-bottom: 46px;
    }
    .filter {
        gap: 61px;
        justify-content: space-between;
        padding-top: 22px;
        padding-bottom: 39px;
        &__title-style {
            display: none;
        }
        &__summary {
            padding-left: 0px;
                top: 11px;
        }
        &__right-wrapper {
            z-index: 11;
        }
        &__summary[open] {
            padding-left: 17px;
        }
        // ***********************
        // НЕ РАБОТАЕТ
        &__summary[open] &__right-wrapper {
            display: none;
        }
        // ***********************
        &__title svg {
            width: 37.5px;
            height: 25px;
        }
    }
    .sort__name {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
    .sort__items {
        gap: 17px;
    }
    .pagination {
        padding-bottom: 63px;
    }
    .footer {
        gap: 25px;
    }
    
}
