@import 'vars';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.breadcrumbs {
    @include flexRowWrap();
    justify-content: space-between;
    background-color: #F8F3F4;
    padding-top: 65px;
    padding-bottom: 56px;
    &__left {
        display: flex;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $coralColor;
    }
    &__link {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $greyColor;
    }
    &__links {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}
.breadcrumbs__links li+li:before {
  color: $greyColor;
  content: "/\00a0";
}
.breadcrumbs__item:last-child .breadcrumbs__link {
            color: $coralColor;
            font-weight: 700;
        }


.slider {
    background-color: #F7F7F7;
    padding-bottom: 51px;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__previous {
        @include sliderArrows();
    }
    &__next {
        @include sliderArrows();
    }
    &__previous:hover path {
        @include sliderArrowsHover();
    }
    &__next:hover path {
        @include sliderArrowsHover();
    }
    &__img {
        position: relative;
    }
}

.productdescription {
    padding-bottom: 127px;
    
    &__container {
        border: 1px solid #EAEAEA;
        background-color: $whiteColor;
        position: relative;
        z-index: 1000;
        margin-top: -65px;
        display: flex;
        justify-content: center;  
    }
    &__text {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $coralColor;
        margin-bottom: 12px;
    }
    &__line-first {
        width: 63px;
        height: 3px;
        background-color: $moreCoralColor;
    }
    &__subtitle {
        margin-top: 12px;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
        margin-bottom: 48.5px;
    }
    &__about__product {
        max-width: 554px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
    }
    &__price {
        margin-top: 32px;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $moreCoralColor;
        margin-bottom: 64.5px;
    }
    &__line-second {
        width: 642px;
        height: 1px;
        background-color: #EAEAEA;
        margin-bottom: 64.5px;
    }
    &__button {
        padding-top: 15px;
        padding-left: 24px;
        padding-bottom: 9px;
        padding-right: 57px;
        border: 1px solid #FF6A6A;
        background-color: transparent;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
        display: flex;
        align-items: center;
        gap: 23px;
        margin-bottom: 64.5px;
        cursor: pointer;
        margin-top: 46.5px;
        transition: .3s;
    }
    &__button:hover {
        background-color: $coralColor;
        color: $whiteColor;
    }
    &__button:hover path {
        fill: $whiteColor;
    }
}

.sort {
    &__container {
        margin-top: 50.5px;
    }
    &__item {
        position: relative;
    }
    &__items {
        display: flex;
        flex-direction: row;
        gap: 28px;
    }
    &__heading {
        margin-top: 15px;
        margin-bottom: 15px; 
        list-style: none;
    }
    &__name {
        padding-right: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &__checkbox {
        @include flexRowWrap();
        gap: 9px;
    }
    &__checkbox-container {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 0 11px 9.5px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 68px;
        position: absolute;
    }
    &__checkbox__label {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }
    &__checkbox__input[type="checkbox"] {
        appearance: none;
}
    &__checkbox__input::before {
        content: '';
        width: 10px;
        height: 10px;
        border: 1px solid #EBEBEB;
        display: inline-block;
    }
    &__checkbox__input+label::before {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
    // &__checkbox__input:checked+label::before {
    //     background-image: url("../img/checked.png");
    // }
    &__label {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }
}
.products__cards {
    margin-bottom: 125.5px;
}




   
